/*****************************************************************/
/*                       WHEEL                                   */
/*****************************************************************/

/* Sets the background image for the wheel */
td.the_wheel
{
    background-image: url(wheel_back.png);
    background-position: center;
    background-repeat: none;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}

p.noCanvasMsg
{
    color: white;
}


/*****************/
/* Playing Cards */
/*****************/

/* entire container, keeps perspective */
.flip-container {
    margin: 100px;
    perspective: 1000;
    -webkit-perspective: 1000;
}
/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper {*/
    /*transform: rotateY(180deg);*/
    /*-webkit-transform: rotateY(180deg);*/
/*}*/

.flipit{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 71px;
    height: 96px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    background: url(cards/b1fv.png) 0 0 no-repeat;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}



/**********************************/
/*   COIN                         */
/**********************************/
.coin{
    margin: 100px;
    height: 150px;
    width: 150px;
    transition-duration:200ms;
    -ms-transition-duration:200ms;
    -webkit-transition-duration:200ms;
    -o-transition-duration:200ms;
    -moz-transition-duration:200ms;
}

.heads{
    background-image: url("heads.jpg");
}

.tailsma1{
    background-image: url("tailsma1.jpg");
}

.tailsma{
    background-image: url("tailsma.jpg");
}

.heads1{
    background-image: url("heads1.jpg");
}

.dist{
    background-image: url("dist.jpg");
}

.flipup{
    transform:scale(1.5,1.5) rotateX(360deg);
    -ms-transform:scale(1.5,1.5) rotateX(360deg); /* IE 9 */
    -webkit-transform:scale(1.5,1.5) rotateX(360deg); /* Safari and Chrome */
    -o-transform:scale(1.5,1.5) rotateX(360deg); /* Opera */
    -moz-transform:scale(1.5,1.5) rotateX(360deg); /* Firefox */


}

/**********************************/
/*   MARBLES                      */
/**********************************/
.throwingCanvas {
    display: block;
    border: 1px solid blue;
    margin: 50px auto;
}