@media screen {
    div#preloader {
        position: absolute;
        left: -9999px;
        top:  -9999px;
    }
    div#preloader img {
        display: block;
    }
}
@media print {
    div#preloader,
    div#preloader img {
        visibility: hidden;
        display: none;
    }
}

.smallinput{
    width: 80px;
}

.singleinput{
    width: 40px;
}

.itemconfig{
    width: 300px;
}

/*****************************************************************/
/*                       WHEEL                                   */
/*****************************************************************/

/* Sets the background image for the wheel */
.the_wheel{
    float: right;
    width: 500px;
    height: 600px;
    background-image: url(wheel_back.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.the_canvas{
    margin-top: 75px;
    height: 434px;
    width: 434px;
}

.preview {
    height:150px;
    width: 150px;
    border: 1px black solid;
}

/*****************/
/* Playing Cards */
/*****************/

/* entire container, keeps perspective */
.flip-container {
    margin: 0px;
    perspective: 1000;
    -webkit-perspective: 1000;
}

.flipit{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 300px;
    height: 500px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    background: url(cards/b1fv.png) 0 0 no-repeat;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}



/**********************************/
/*   COIN                         */
/**********************************/
.coin{
    margin: 100px;
    height: 150px;
    width: 150px;
    transition-duration:200ms;
    -ms-transition-duration:200ms;
    -webkit-transition-duration:200ms;
    -o-transition-duration:200ms;
    -moz-transition-duration:200ms;
}

.heads{
    background-image: url("heads.png");
}

.tailsma1{
    background-image: url("tailsma1.png");
}

.tailsma{
    background-image: url("tailsma.png");
}

.heads1{
    background-image: url("heads1.png");
}

.dist{
    background-image: url("dist.png");
}

.flipup{
    transform:scale(1.5,1.5) rotateX(360deg);
    -ms-transform:scale(1.5,1.5) rotateX(360deg); /* IE 9 */
    -webkit-transform:scale(1.5,1.5) rotateX(360deg); /* Safari and Chrome */
    -o-transform:scale(1.5,1.5) rotateX(360deg); /* Opera */
    -moz-transform:scale(1.5,1.5) rotateX(360deg); /* Firefox */


}

/**********************************/
/*   MARBLES                      */
/**********************************/
.throwingCanvas {
    display: block;
    border: 1px solid blue;
}

.circle{
    width:30px;
    height:30px;
    border-radius:15px;
    margin: 10px;
}

.circleFrame{
    width: 50px;
    display: inline-block;

}

/**********************************/
/*   DICE                         */
/**********************************/

.col{
    font-size: large;
    height: 100%;
}
.col .leftCol{
    padding: 20px;
    width: 50%;
    float: left;
}

.col .rightCol{
    padding: 20px;
    width: 50%;
    float: left;
}

.roll{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
    -o-transform:rotate(180deg); /* Opera */
    -moz-transform:rotate(180deg); /* Firefox */
}

