<div>
    <h1>Probability Simulator</h1>
    <h2>Data Generators</h2>
    <tabset>
        <tab heading="Dice">
            <div class="col" ng-controller="DiceCtrl">
                <div class="leftCol">
                    <button ng-click="dice()">Roll Dice</button>
                    <canvas id="dicecanvas" class="throwingCanvas"></canvas>
                </div>
                <div class="rightCol">
                    <p>Results:</p>
                    <hr>
                    <p ng-repeat="result in diceResults">
                       Die {{result.num}} |   {{result.rolls.join(", ")}}
                    </p>
                </div>
            </div>
        </tab>
        <tab heading="Coin Toss">
            <div class="col" ng-controller="CoinCtrl" ng-click="posclicked()">
                <div class="leftCol">
                    <div id="coin" class="coin">
                        <img style="height: 100%; width: 100%" ng-src="{{coinImage}}"/>
                    </div>
                </div>
                <div class="rightCol">
                    <p>Heads: {{headsCount}}</p>
                    <p>Tails: {{tailsCount}}</p>
                </div>
            </div>
        </tab>
        <tab heading="Cards">
            <div class="col" ng-controller="CardCtrl">
                <div class="leftCol">
                    <div class="flip-container" >
                        <div class="flipper" ng-click="flip()">
                            <div class="front" img="{{back}}"></div>
                            <div class="back" back-img img="{{card}}"></div>
                        </div>
                    </div>
                </div>
                <div class="rightCol">
                    <p>Cards Drawn:</p>
                    <p ng-repeat="card in results track by $index"> {{card}} </p>
                </div>
            </div>
        </tab>
        <tab heading="Marbles">
            <div class="col" ng-controller="MarbleCtrl">
               <div class="leftCol">
                   <form ng-submit="marbles()">
                        <p>
                            <label>Red:</label><input ng-model="red" type="number" min="0" max="10">
                        </p>
                        <p><label>Green:  </label><input ng-model="green" type="number" min="0" max="10"></p>
                        <p><label>Blue:   </label><input ng-model="blue" type="number" min="0" max="10"></p>
                        <p><label>Yellow: </label><input ng-model="yellow" type="number" min="0" max="10"></p>
                        <p><label>Orange: </label><input ng-model="orange" type="number" min="0" max="10"></p>
                        <p><label>Purple: </label><input ng-model="purple" type="number" min="0" max="10"></p>
                        <input type="submit" value="Run">
                   </form>

               </div>

                <div class="rightCol" >
                    <canvas id="marblecanvas" class="throwingCanvas"></canvas>
                </div>
            </div>
        </tab>
        <tab heading="Spinner">
            <div class="col" ng-controller="SpinCtrl" ng-init="begin()">
                <div class="leftCol">
                    <div style="float: left" style="width:100px">
                        <form ng-submit="startSpin()" >
                            <label>Power</label><br/>
                            <input ng-disabled="wheelState!='reset'" type="radio" ng-model="power" value="3">  High   <br/>
                            <input ng-disabled="wheelState!='reset'" type="radio" ng-model="power" value="2">  Medium <br/>
                            <input ng-disabled="wheelState!='reset'" type="radio" ng-model="power" value="1">  Low    <br/>
                            <input ng-disabled="wheelState!='reset'" type="submit" value="Spin" >
                        </form>
                        <br><br><br><br>
                        <input type="button" value="Reset" ng-click="resetWheel()" />
                    </div>
                    <div class="the_wheel" align="center" valign="center">
                        <canvas class="the_canvas" id="myDrawingCanvas" width="434" height="434"></canvas>
                    </div>
               </div>
                <div class="rightCol">
                    <p>Spin History:</p>
                    <p ng-repeat="result in results track by $index"> {{result}} </p>
                </div>
            </div>
        </tab>
    </tabset>
</div>
