<div>
    <h2>Probability Prototype</h2>
    <!--<h2>Data Generators</h2>-->
    <tabset>
        <tab heading="Dice">
            <div class="col" ng-controller="DiceCtrl">
                <div class="leftCol">
                    <p><label>Dice:</label><input min="0" max="10" ng-disabled="{{running}}"
                                                  type="number" ng-model="numDice" ng-change="numDiceChanged()" /></p>
                    <button ng-click="dice()" style="margin-bottom:10px">Roll</button>
                    <canvas id="dicecanvas" class="throwingCanvas"></canvas>
                </div>
                <div class="rightCol">
                    <p>Results:</p>
                    <hr>
                    <p ng-repeat="result in diceResults">
                       Die {{result.num}} |   {{result.rolls.join(", ")}}
                    </p>
                </div>
            </div>
        </tab>
        <tab heading="Coin Toss">
            <div class="col" ng-controller="CoinCtrl" >
                <div class="leftCol">
                    <form>
                        <p><label> WEIGHT </label></p>
                        <p><label>Heads:</label><input min="0" max="100" type="number" ng-model="tailsWeight" />%</p>
                        <p><label>Tails:</label><input min="0" max="100" type="number" ng-model="headsWeight" />%</p>
                    </form>
                    <div id="coin" class="coin" ng-click="posclicked()">
                        <img style="height: 100%; width: 100%" ng-src="{{coinImage}}"/>
                    </div>
                </div>
                <div class="rightCol">
                    <p>Results:</p>
                    <hr>
                    <p>Heads: {{headsCount}}</p>
                    <p>Tails: {{tailsCount}}</p>
                </div>
            </div>
        </tab>
        <tab heading="Cards">
            <div class="col" ng-controller="CardCtrl">
                <div class="leftCol">
                    <div class="flip-container" >
                        <div class="flipper" ng-click="flip()">
                            <div class="front" img="{{back}}"></div>
                            <div class="back" back-img img="{{card}}"></div>
                        </div>
                    </div>
                </div>
                <div class="rightCol" style="width: 250px;float: right">
                    <p>Cards Drawn:</p>
                    <p ng-repeat="card in results track by $index">
                        <img ng-src="{{card.img}}" style="width: 28px;height: 41px">
                        {{card.name}}
                    </p>
                </div>
            </div>
        </tab>
        <tab heading="Marbles">
            <div class="col" ng-controller="MarbleCtrl">
               <div class="leftCol" style="width: 150px;">
                   <form ng-submit="marbles()">
                        <p><label>Red:</label><input ng-model="red" ng-change="init()"
                                                     type="number" min="0" max="10"></p>
                        <p><label>Green:  </label><input ng-model="green" ng-change="init()"
                                                         type="number" min="0" max="10"></p>
                        <p><label>Blue:   </label><input ng-model="blue" ng-change="init()"
                                                         type="number" min="0" max="10"></p>
                        <p><label>Yellow: </label><input ng-model="yellow" ng-change="init()"
                                                         type="number" min="0" max="10"></p>
                        <p><label>Orange: </label><input ng-model="orange"  ng-change="init()"
                                                         type="number" min="0" max="10"></p>
                        <p><label>Purple: </label><input ng-model="purple" ng-change="init()"
                                                         type="number" min="0" max="10"></p>
                        <input type="submit"  value="Run">
                   </form>
                        <input type="submit" ng-if="running" value="Choose" ng-click="choose()">
                        <input type="submit" ng-if="running" value="Stop" ng-click="stop()">

               </div>

                <div class="rightCol" style="float: left;width: 550px">
                    <canvas id="marblecanvas" class="throwingCanvas" style="float: right"></canvas>
                    <div style="width: 100px">
                        <label>Bin   <a ng-click="clearBalls()">clear</a></label>
                        <span ng-repeat="ball in binnedBalls track by $index" >
                            <div class="circle" style="{{ball.color+';'+ball.grad}}"/>
                        </span>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Spinner">
            <div class="col" ng-controller="SpinCtrl" ng-init="begin()">
                <div class="leftCol" style="float: left;width:700px" >
                    <div class="the_wheel" align="center" valign="center">
                        <canvas class="the_canvas" id="myDrawingCanvas" width="434" height="434"></canvas>
                    </div>
                    <div style="width: 100px" >
                        <form ng-submit="startSpin()" >
                            <label>Power</label><br/>
                            <input ng-disabled="wheelState!='reset'" type="radio" ng-model="power" value="3">  High   <br/>
                            <input ng-disabled="wheelState!='reset'" type="radio" ng-model="power" value="2">  Medium <br/>
                            <input ng-disabled="wheelState!='reset'" type="radio" ng-model="power" value="1">  Low    <br/>
                            <br><br>
                            <input ng-disabled="wheelState!='reset'" type="submit" value="Spin" >
                        </form>
                        <br><br>
                        <p>Results:</p>
                        <p ng-repeat="result in results track by $index"> {{result}} </p>
                    </div>
               </div>
                <div class="rightCol" style="width: 100px">

                </div>
            </div>
        </tab>
    </tabset>
</div>
